
$background-colour: #fff;
$desktop-width: 1000px;
$medium-width: 600px;
$mobile-width: 200px;
$fontcolor: #fff;

*{
  box-sizing: border-box;
}

body {
    background-color: $background-colour;
    // height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

img {
  height: auto;
  max-width: 100%;
}

.header {
  @media (min-width: $mobile-width) {
    @content;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    height: auto;
  // @media (min-width: $medium-width) {
  //   @content;
  //   position: absolute;
  //   align-content: center;
  //   display: flex;
  //   flex-wrap: nowrap;
  //   flex-direction: row;
  //   justify-content: center;
  //   padding: 0;
  //   background-color: $background-colour;
  //   border-width: 1px;
  //   border-style: solid;
  //   border-color: rgb(166, 166, 166);
  //   border-image: initial;
  //   // flex: 1 0 auto;
  //   height: auto;
  //   width: 100%;
  //   @media (min-width: $desktop-width) {
  //       @content;
  //       position: absolute;
  //       align-content: center;
  //       display: flex;
  //       justify-content: flex-start;
  //       flex-wrap: nowrap;
  //       flex-direction: row;
  //       justify-content: center;
  //       padding: 0;
  //       background-color: $background-colour;
  //       border-width: 1px;
  //       border-style: solid;
  //       border-color: rgb(166, 166, 166);
  //       border-image: initial;
  //       flex: 1 0 auto;
  //       height: auto;
  //       width: 100%;
  //     }
  //   }
  }
}

.selection {
  @media all and (min-width: $mobile-width) {
    @content;
  // display: inline-block;
  position: relative;
  text-align: center;
  align-self: center;
  // margin-bottom: 1rem;
  // width: 100%;
  background-color: $background-colour;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  color: $fontcolor;
  @media all and (min-width: $medium-width) {
    @content;
  // display: inline-block;
  position: relative;
  text-align: center;
  align-self: center;
  // margin-bottom: 1rem;
  // width: 100%;
  background-color: $background-colour;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  color: $fontcolor;
  }
  }
}
.icon {
  z-index: 1000;
  height: 40vw;
  display: flex;
  background-color: black;
  justify-content: center;
}

a {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover; 
  height: 50vw;
  justify-content: flex-end;

}
.headlines {
  
}

.list-item {
  height: auto;
  
}

.search-form-inner {
  margin: 0;
}

.copyright {
  display: flex;  
  color: $fontcolor;
  
}