$background-colour: #000;
$desktop-width: 1000px;
$medium-width: 600px;
$mobile-width: 100px;
$fontcolor: #fff;
* {
  box-sizing: border-box;
}

body {
  background-color: $background-colour;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  max-width: 1600px;

}

.header {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.icon {
  z-index: 1000;
  height: 40vh;
  display: flex;
  background-color: $background-colour;
  justify-content: center; // transition: all 1s ease-in-out 1.5s;
}

img {
  height: auto;
  max-width: 100%;
  margin: 0 -10 0 0;
}

.selection {
  display: inline-block;
  position: relative;
  // white-space: pre;
  align-self: center;
  background-color: $background-colour;
  color: $fontcolor;
  width: 200px;
}

.loading {
  transition: all 1s ease-in-out 1.5s;
  width: 100px;
  height: 100px;
}

// @keyframes reize {
//   0% {
//     padding: 0;
//   }
//   50% {
//     padding: 0 20px;
//     background-color: rgba(255, 0, 0, 0.2);
//   }
//   100% {
//     padding: 0 100px;
//     background-color: rgba(255, 0, 0, 0.9);
//   }
// }
a {
  display: flex;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover;
  height: 300px;
  justify-content: flex-end;
}

.headlineswrapper {
  display: flex;
  flex-direction: column;
}

.headlines {
  text-decoration: none;
  color: $fontcolor;
  width: 100%;
}

.list-image {
  text-decoration: none;
  color: $fontcolor;
}

.form-inside {
  margin: 0;
}

.footer {
  // margin-bottom: 3rem;
  text-align: center;
  // padding: 0 2rem;
}

.copyright {
  display: flex;
  color: $fontcolor;
  font-size: 9px;
  font-size: .9rem;
  margin-bottom: 3rem;
  text-align: center;
  padding: 0 2rem;
  justify-content: center;
}

@media (min-width: $medium-width) {
  .header {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    padding: 2rem;
  }
  
  .headlineswrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
  }

  .headlines {
    display: flex;
    flex: 1 0 50%;

  }
  .headlines,
  .list-image {
    text-decoration: none;
    color: $fontcolor;
    width: 50%;
  }
  // }
  // @media (min-width: $desktop-width) {
  //   .site-footer {
  //     text-align: left
  //   }
  // }
  // .headlineswrapper {
  //   display: flex;
  //   flex-flow: row wrap;
  // }
  // .headlines a {
  //   text-decoration: none;
  //   color: $fontcolor;
  //   flex: 1 0 25%;
}