body {
  background-color: $background-colour;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: content;
  font-family: 'open_sanslight';
  font-size: 16px;
}

.total {
  height: 100%;
}

@media (max-width: 600px) {
  #header.header {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 3rem 0 3rem 0;
    margin: 1px 1px 1px 1px;
    transition: all 1s ease-out .3s;
  }
  .nyt {
    height: auto;
    width: 80%;
    max-width: 250px;
    transition: all 1s ease-out .3s;
    opacity: .5;
  }
  .nyt:hover {
    opacity: 1;
  }
}

.header {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#selection {
  display: inline-flex;
  background-color: $background-colour;
  color: $fontcolor;
  font-family: 'open_sanslight';
  width: 200px;
  height: 50px;
  justify-content: center;
  align-content: center;
  font-size: .9rem;
  padding-top: 1rem;
  transition: all 1s ease-out .3s;
  opacity: .5;
}

#selection:hover {
  opacity: 1;
}

.form-inside {
  justify-content: center;
  text-align: center;
  p {
    font-family: 'open_sanslight';
    width: 150px;
    text-align: center;
  }
}

.form {
  height: 75px;
}

h3 {
  padding: 1rem;
  padding-bottom: 20rem;
  text-align: center;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.gif {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  z-index: -1;
  animation: 1s linear 1s fadeout;
  animation-iteration-count: infinite;
}

.headlineswrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headlines {
  text-decoration: none;
  color: $fontcolor;
  min-width: 100vw;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}

a {
  display: flex;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover;
  height: 300px;
  align-items: flex-end;
  flex: 1 0 50%;
  font-size: 1rem;
  transition: all 1s ease-out .0s;
}

a:hover {
  animation: bounce 1s;
}

.titlebg {
  background: rgba(0, 0, 0, .6);
  bottom: 0;
  align-items: center;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
  position: relative;
  transition: all 1s ease-out .0s;
  opacity: .5;
}

.titlebg:hover {
  opacity: 1;
}

.list-title {
  text-decoration: none;
  color: $fontcolor;
  font-family: 'open_sanslight';
}

.footer {
  display: flex;
  align-self: center;
  justify-content: center;
}

.footer p {
  color: #c2c2c2;
  font-size: .9rem;
}

@media (min-width: 480px) {
  .headlines {
    display: inline-flex;
    flex-flow: row wrap;
  }
  .headlines a {
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
    height: 300px;
    flex: 1 0 50%;
  }
}

h3 {
  padding: 1rem;
  padding-bottom: 7rem;
  text-align: center;
  margin: auto;
}

@media (min-width: $medium-width) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-width: 250px;
    margin-left: 100px;
    padding: 3rem;
    transition: all 1.5s ease 0s;
  }
  .nyt {
    width: 20vw;
    height: auto;
    opacity: .5;
  }
  .nyt:hover {
    opacity: 1;
  }
  h3 {
    padding: 1rem;
    padding-bottom: 7rem;
    text-align: center;
  }
  .footer {
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    justify-content: flex-start;
  }
  .headlineswrapper {
    display: flex;
    flex-flow: row wrap;
  }
  .headlines a {
    text-decoration: none;
    color: $fontcolor;
    flex: 1 0 25%;
  }
  .footer {
    justify-content: flex-start;
    align-self: left;
    padding: 0 0 0 2rem;
  }
}