  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* END RESET */

  @font-face {
    font-family: 'open_sanslight';
    src: url('../../fontsfonts/opensans-light-webfont.eot');
    src: url('../../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/opensans-light-webfont.woff2') format('woff2'), url('../../fonts/opensans-light-webfont.woff') format('woff'), url('../../fonts/opensans-light-webfont.ttf') format('truetype'), url('../../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  $background-colour: #000;
  $desktop-width: 1000px;
  $medium-width: 600px;
  $mobile-width: 100px;
  $fontcolor: #fff;
  body {
    background-color: $background-colour;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: content;
    font-family: 'open_sanslight';
    font-size: 16px;
  }

  .total {
    height: 100%;
  }

  @media (max-width: 600px) {
    #header.header {
      display: flex;
      flex-flow: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      height: 90vh;
      padding: 3rem 0 3rem 0;
      margin: 1px 1px 1px 1px;
      transition: all 1s ease-out .3s;
    }
    .nyt {
      height: auto;
      width: 80%;
      max-width: 250px;
      transition: all 1s ease-out .3s;
    }
  }

  .header {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  #selection {
    display: inline-flex;
    background-color: $background-colour;
    color: $fontcolor;
    font-family: 'open_sanslight';
    width: 200px;
    height: 50px;
    justify-content: center;
    align-content: center;
    font-size: .9rem;
    padding-top: 1rem;
  }

  .form-inside {
    justify-content: center;
    text-align: center;
    p {
      font-family: 'open_sanslight';
      width: 150px;
      text-align: center;
    }
  }

  .form {
    height: 75px;
  }

  h3 {
    padding: 1rem;
    padding-bottom: 20rem;
    text-align: center;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .3;
    }
    100% {
      opacity: 1;
    }
  }

  .gif {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    z-index: -1;
    animation: 1s linear 1s fadeout;
    animation-iteration-count: infinite;
  }

  .headlineswrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .headlines {
    text-decoration: none;
    color: $fontcolor;
    min-width: 100vw;
  }

  a {
    display: flex;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
    height: 300px;
    align-items: flex-end;
    flex: 1 0 50%;
    font-size: 1rem;
  }

  .titlebg {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    align-items: center;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
    position: relative;
  }

  .list-title {
    text-decoration: none;
    color: $fontcolor;
    font-family: 'open_sanslight';
  }

  .footer {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .footer p {
    color: #c2c2c2;
    font-size: .9rem;
  }

  @media (min-width: 480px) {
    .headlines {
      display: inline-flex;
      flex-flow: row wrap;
    }
    .headlines a {
      background-repeat: no-repeat;
      text-decoration: none;
      background-size: cover;
      height: 300px;
      flex: 1 0 50%;
    }
  }

  h3 {
    padding: 1rem;
    padding-bottom: 7rem;
    text-align: center;
    margin: auto;
  }

  @media (min-width: $medium-width) {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      max-width: 250px;
      margin-left: 100px;
      padding: 3rem;
      transition: all .5s ease-out .3s;
    }
    .nyt {
      width: 20vw;
      height: auto;
      transition: all .5s ease-out .3s;
    }
    h3 {
      padding: 1rem;
      padding-bottom: 7rem;
      text-align: center;
    }
    .footer {
      justify-content: center;
    }
  }

  @media (min-width: $desktop-width) {
    .header {
      justify-content: flex-start;
    }
    .headlineswrapper {
      display: flex;
      flex-flow: row wrap;
    }
    .headlines a {
      text-decoration: none;
      color: $fontcolor;
      flex: 1 0 25%;
    }
    .footer {
      justify-content: flex-start;
      align-self: left;
      padding: 0 0 0 2rem;
    }
  }