body {
  background-color: $background-colour;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: content;
  font-family: 'open_sanslight';
  font-size: 16px;
}

.total {
  height: 100%;
}

.header {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#selection {
  display: inline-flex;
  background-color: $background-colour;
  color: $fontcolor;
  font-family: 'open_sanslight';
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
  font-size: .9rem;
  padding-top: 1rem;
  transition: all 1s ease-out .3s;
  opacity: .5;
}

#selection:hover {
  opacity: 1;
}

@keyframes appear {
    0%,
    20%,
    60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(-2px);
  }
}

#add_val {
  background: rgb(0, 0, 0);
  color: $fontcolor;
  transition: all 1s ease-out .0s;
}

#add_val:hover {
  animation: appear 1s;
}

.form-inside {
  justify-content: center;
  text-align: center;
  p {
    font-family: 'open_sanslight';
    width: 150px;
    text-align: center;
  }
}

.form {
  height: 75px;
}

h3 {
  padding: 1rem;
  padding-bottom: 20rem;
  text-align: center;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.gif {
  display: none;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  z-index: -1;
  animation: 1s linear 1s fadeout;
  animation-iteration-count: infinite;
}

.headlineswrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headlines {
  text-decoration: none;
  color: $fontcolor;
  min-width: 100vw;
}

@keyframes bounce {
    0%,
    20%,
    60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}

a {
  display: flex;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover;
  height: 300px;
  align-items: flex-end;
  flex: 1 0 50%;
  font-size: 1rem;
  transition: all 1s ease-out .0s;
}

a:hover {
  animation: bounce 1s;
}

.titlebg {
  background: rgba(0, 0, 0, .6);
  bottom: 0;
  align-items: center;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
  position: relative;
  }

.list-title {
  text-decoration: none;
  color: $fontcolor;
  font-family: 'open_sanslight';
}

.footer {
  display: flex;
  align-self: center;
  justify-content: center;
}

.footer p {
  color: #c2c2c2;
  font-size: .9rem;
}
