  @font-face {
    font-family: 'open_sanslight';
    src: url('../../fontsfonts/opensans-light-webfont.eot');
    src: url('../../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/opensans-light-webfont.woff2') format('woff2'), url('../../fonts/opensans-light-webfont.woff') format('woff'), url('../../fonts/opensans-light-webfont.ttf') format('truetype'), url('../../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
  }