@media (max-width: 600px) {
  #header.header {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 3rem 0 3rem 0;
    margin: 1px 1px 1px 1px;
    transition: all 1s ease-out .3s;
  }
  .nyt {
    height: auto;
    width: 80%;
    max-width: 250px;
    transition: all 1s ease-out .3s;
    opacity: .5;
  }
  .nyt:hover {
    opacity: 1;
  }
}

@media (min-width: 480px) {
  .headlines {
    display: inline-flex;
    flex-flow: row wrap;
  }
  .headlines a {
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
    height: 300px;
    flex: 1 0 50%;
  }
}

h3 {
  padding: 1rem;
  padding-bottom: 7rem;
  text-align: center;
  margin: auto;
}

@media (min-width: $medium-width) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-width: 250px;
    margin-left: 100px;
    padding: 3rem;
    transition: all 1.5s ease 0s;
  }
  .nyt {
    width: 20vw;
    height: auto;
    opacity: .5;
  }
  .nyt:hover {
    opacity: 1;
  }
  h3 {
    padding: 1rem;
    padding-bottom: 7rem;
    text-align: center;
  }
  .footer {
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    justify-content: flex-start;
  }
  .headlineswrapper {
    display: flex;
    flex-flow: row wrap;
  }
  .headlines a {
    text-decoration: none;
    color: $fontcolor;
    flex: 1 0 25%;
  }
  .footer {
    justify-content: flex-start;
    align-self: left;
    padding: 0 0 0 2rem;
  }
}